<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="51B9B38E-34AC-44DC-9B0D-84081A70BDC2" Name="SetupProject" 
           Language="1033" Version="1.0.0.0" 
    Manufacturer="iesmila.net" UpgradeCode="f288b138-857b-43af-adff-2343808452d2">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />
  
		<Feature Id="FEA_PRODUCT" Title="SetupProject" Level="1">
			<ComponentGroupRef Id="CG_ProductComponents" />
      <ComponentGroupRef Id="CG_ACCESSOS_DIRECTES_MENU_INICI" />
      <ComponentGroupRef Id="CG_ACCESSOS_DIRECTES_ESCRIPTORI" />
		</Feature>
    <Feature Id="FEA_DOC" Title="Documentació" Level="4">		
      <ComponentGroupRef Id="CG_FULL_DOC"/>
      <ComponentGroupRef Id="CG_ACCESSOS_DIRECTES_ESCRIPTORI_DOC"/>    
		</Feature>
    
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Engegar aplicació ara mateix."></Property>

    
    <!-- * ************************************************   UI    *************************************** -->
    <!-- Activa la interfície gràfica del wizard -->
    <!-- Feu “Add Reference” sobre el projecte, aneu a la carpeta de binaris de wix ( C:\Archivos de programa(x86)/Wix Toolset vX.X/bin )-->
    <UI>
      <UIRef Id="WixUI_Mondo"/>
      <UIRef Id="WixUI_ErrorProgressText" />
    
      <Publish Dialog="ExitDialog"
               Control="Finish"
               Event="DoAction"
               Value="CA_LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>
    <!-- *******************************  ICONES ************************************ -->
    <Icon Id="ICN_EXECUTABLE" SourceFile="$(var.AppWixSetupDemo.TargetDir)AppWixSetupDemo.exe"/>
         
    
    <Property Id="WixShellExecTarget" Value="[INSTALLFOLDER]AppWixSetupDemo.exe"></Property>


    <CustomAction Id="CA_LaunchApplication" 
                  BinaryKey="WixCA" 
                  DllEntry="WixShellExec" 
                  Impersonate="yes"></CustomAction>
  
	</Product>

	<Fragment>
    <!-- Estructura de directoris a la màquina destí on s'instal·larà l'aplicació -->
		<Directory Id="TARGETDIR" Name="SourceDir"><!-- aquesta línia sempre igual-->
      <!-- Crear una carpeta a C:\Archivos de Programa\SetupProject -->
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="SetupProject" >
          <Directory Id="DIR_DOC"  Name="Documentacio"></Directory>
       </Directory>
			</Directory> 
    
      <!-- Definim la carpeta d'escriptori-->
      <Directory Id="DesktopFolder"></Directory>
      
      <!-- Definim la carpeta de Menú d'inici-->
       <Directory Id="ProgramMenuFolder" >         <!-- ProgramMenuFolder = Menú d'inici -->
         <Directory Id="DIR_MENU_INICI" Name="SetupProject"></Directory>
       </Directory>
  
		</Directory>
	</Fragment>

	<Fragment>
    <!-- components situats al projecte, dins de la màquina del programador -->    
    <!-- IMPORTANT: les variables $(var.xxxxxx) només funcionen si posem la referència del projecte al SetupProject  -->
      
    <ComponentGroup Id="CG_ACCESSOS_DIRECTES_MENU_INICI" Directory="DIR_MENU_INICI">
      <Component  Id="CMP_SHORCUT_EXECUTABLE" Guid="003e3e5c-a2a5-4d0b-aead-8305f60336a8">
        <Shortcut Id="SHR_EXECUTABLE"  
                  Name="SetupProgram"
                  Description="Programa instal·lat"
                  Target="[INSTALLFOLDER]AppWixSetupDemo.exe"
                  Icon="ICN_EXECUTABLE"
        />
        <!-- Comentaris del Shorcut:-->                
        <!--         
          a) Target="[INSTALLFOLDER]AppWixSetupDemo.exe"  => INSTALLFOLDER és una referència a un Directory (on s'instal·la l'executable)
          b) La icona (Icon) s'ha de definir dins del tag PRODUCT
        -->
        
        <!-- Afegirm (OPCIONAL) un enllaç al desinstal·lador -->
        <Shortcut Id="UnistallShorcut"
                 Name="Desinstal·lar programa"
                 Description="Desinstal·lar programa++"
                 Target="[System64Folder]msiexec.exe"
                 Arguments="/x [ProductCode]"/>

        <!-- OBLIGATORI: Indiquem que cal esborrar l'accés directen quan desinstal·lem -->
        <RemoveFolder Id="IdBasuraQueNoServeixPerARes" On="uninstall"/>
        <!-- OBLIGATORI: cal definir una clau al registre -->
        <RegistryValue Root="HKCU"
                       Key="Software\iesmila\setupproject"
                       Name="installed"
                       Type="integer"
                       Value="1"
                       KeyPath="yes"/>
      </Component>    
    </ComponentGroup>
    

    <ComponentGroup Id="CG_ACCESSOS_DIRECTES_ESCRIPTORI" Directory="DesktopFolder"> <!-- per wix DesktopFolder = escriptori -->
      <Component  Id="CMP_SHORCUT_EXECUTABLE_DESK" Guid="2a6af715-c672-4af7-b7ea-7984a8fe9c9a">
        <Shortcut Id="SHR_EXECUTABLE_DESK"  
                  Name="SetupProgram"
                  Description="Programa instal·lat"
                  Target="[INSTALLFOLDER]AppWixSetupDemo.exe"
                  Icon="ICN_EXECUTABLE"
        />      

        <!-- OBLIGATORI: cal definir una clau al registre -->
        <RegistryValue Root="HKCU"
                       Key="Software\iesmila\setupproject"
                       Name="installedDesktop"
                       Type="integer"
                       Value="1"
                       KeyPath="yes"/>
      </Component>    
    </ComponentGroup>
        
    
 
    
    <!-- shorcut a la documentació-->
    
    <ComponentGroup Id="CG_ACCESSOS_DIRECTES_ESCRIPTORI_DOC" Directory="DesktopFolder"> <!-- per wix DesktopFolder = escriptori -->
      <Component  Id="CMP_SHORCUT_DOC_DESK" Guid="002f56fc-63aa-48aa-8362-0c2f63c17c05">
        <Shortcut Id="SHR_DOC_DESK"  
                  Name="Documentació"
                  Description="Documentació"
                  Target="[DIR_DOC]readme.txt"
                  Icon="ICN_EXECUTABLE"
        />      

        <!-- OBLIGATORI: cal definir una clau al registre -->
        <RegistryValue Root="HKCU"
                       Key="Software\iesmila\setupproject"
                       Name="installedDesktopDoc"
                       Type="integer"
                       Value="1"
                       KeyPath="yes"/>
      </Component>    
    </ComponentGroup>
      
    
        
		<ComponentGroup Id="CG_ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="CMP_executable">
        <File Id="FILE_executable" 
              Source="$(var.AppWixSetupDemo.TargetDir)AppWixSetupDemo.exe"></File>
      </Component>      			
    <Component Id="CMP_llibreria">
        <File Id="FILE_llibreria_dll" 
              Assembly=".net"
              Source="$(var.AppWixSetupDemo.TargetDir)Llibreria.dll"></File>
      </Component>      			    
		</ComponentGroup>
	</Fragment>
</Wix>
